/**
 * RESET CSS
*****************************************
 *
 * COLOR
 *
 * #444444 color
 * #ffffff background
 * #cccccc border
 * #aaaaaa :active :focus
 * rgba(255, 255, 255, 0.8) gallery-caption background
 *
*****************************************
 * 
 * TABLE OF CONTENTS:
 * 
 * #00 - BOX SIZING TO ALL
 * #01 - ELEMENTS
 * #02 - ALIGNMENT
 * #03 - IMAGES & MEDIA
 * #04 - HTML & BODY
 * #05 - UTILLITY
 * #06 - GALLERY
 * #07 - 20px RESET
 * #08 - WP EDITOR (front-end)
 * #09 - ACCESSIBILITY
 * 
******************************************/


/* === #00 - BOX SIZING TO ALL === */
*,:after,:before {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}


/* === #01 - ELEMETS === */
a,abbr,acronym,address,article,aside,audio,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,ul,var,video {
	margin:0;
	padding:0;
	vertical-align:baseline;
	outline:0;
	font-size:100%;
	background:0 0;
	border:none;
	text-decoration:none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
	display:block;
}
b,center,font,hr,i,layer,menu,s,strike,u,xmp {
	margin:0;
	padding:0;
	vertical-align:baseline;
	outline:0;
	font-size:100%;
	font-weight:400;
	font-style:normal;
	background:0 0;
	border:none;
	text-decoration:none;
}
hr {
	background-color: #ccc;
	height: 1px;
	border: 0;
}
/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-style:normal;
	font-weight:400;
	line-height:1.2em;
}
h1 {
	font-size:1.8em;
}
h2 {
	font-size:1.7em;
}
h3 {
	font-size:1.55em;
}
h4 {
	font-size:1.4em;
}
h5 {
	font-size:1.25em;
}
h6 {
	font-size:1.1em;
}
/* List */
ol,ul {
	list-style:none;
}
ul {
	list-style:disc;
	margin-left: 2em;
}
ol {
	list-style-type:decimal;
	margin-left: 3em;
}
ol ol {
	list-style:upper-roman;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:upper-alpha;
}
ol ol ol ol ol {
	list-style:lower-alpha;
}
ol ol,ol ul,ul ol,ul ul {
	margin-bottom:0;
}
/* Definitions */
dl dt {
	font-weight:700;
	margin:0;
	margin:0;
}
dl dd {
	margin:0;
	margin:0;
}
/* Style */
strong {
	font-weight:700;
}
strong strong {
	font-weight:400;
}
cite,em {
	font-style:italic;
}
cite cite,em em {
	font-style:normal;
}
abbr[title],acronym[title],time[title] {
	cursor:help;
}
big {
	font-size:120%;
}
small,sub,sup {
	font-size:80%;
}
sup {
	vertical-align:baseline;
	position:relative;
	bottom:.3em;
}
sub {
	vertical-align:baseline;
	position:relative;
	top:.3em;
}
/* Address */
address {
	font-style:italic;
}
dd address,li address {
	margin:0;
}
/* Blockquote */
blockquote,q{
	font-style:normal;
	quotes:none;
	margin: 0;
}
blockquote cite,blockquote em {
	font-style:italic;
}
blockquote:after,blockquote:before,q:after,q:before {
	content:'';
	content:none;
}
/* Link */
a {
	cursor:pointer;
}
/* Preformatted, Code */
pre {
	overflow:auto;
	font:1em Monaco,monospace,Courier,"Courier New";
	padding: 1.5em;
	line-height: 1.5em;
	background-size: 3em 3em;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
}
code {
	font:1em Monaco,monospace,Courier,"Courier New";
}
pre code {
	font-size:1em;
	line-height: 1.5em;
	background: transparent;
}
/* Delete, Insert */
dfn,ins {
	font-style:italic;
	text-decoration:none;
}
ins {
	color:#008000;
}
del,s,strike {
	text-decoration:line-through;
}
del {
	color:#FF0000;
}
/* Form */
form label {
	cursor:pointer;
}
:focus {
	outline:0;
}
fieldset{
	width: 100%;
	max-width: 100%;
	padding: 1em;
	border: 1px solid #ccc;
}
legend{
	border: 1px solid #ccc;
	padding: 0 0.5em;
}
input, textarea, select, button{
	font: inherit;
	color: inherit;
	display: block;
	padding: 5px;
	padding: 0.5rem;
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
	width: 100%;
	max-width: 100%;
	border: 1px solid #ccc;
	background: #fff;
}
optgroup{
	font: inherit;
	font-weight: 600;
}
input:focus, input:active,
textarea:focus, textarea:active,
select:focus, select:active{
	border: 1px solid #aaa;
	background: #fff;
}
input[type="checkbox"],
input[type="radio"]{
	width: auto;
	min-width: inherit;
	display: inline;
}
input[type="range"]{
	margin: 0;
}
input[type="color"]{
	height: 2.5em;
	width: 3em;
	min-width: 0;
	cursor: pointer;
}
input[type="file"]{
	cursor: pointer;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button{
	width: auto;
	min-width: inherit;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px 10px;
	padding: 0.4rem 1rem;
	cursor: pointer;
	display: inline;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus{
	border: 1px solid #aaa;
}
optgroup{
	max-width: 100%;
	font-style: normal;
}
/* Table */
table {
	border-collapse:collapse;
	border-spacing:0;
	line-height: 1.8em;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
table caption{
	font-size: 1.2em;
}
td,th {
	text-align:left;
}
td {
	padding: 0.5em;
	border-top: 1px solid #ccc;
}


/* === #02 - ALIGNMENT === */
.alignleft,.left {
	float:left;
}
.alignright,.right {
	float:right;
}
.aligncenter,.center {
	display:block;
}
.alignnone,.block {
	clear:both;
}
.clear {
	clear:both;
}

/* === #03 - IMAGES & MEDIA === */
img {
	max-width:100%;
	height:auto;
}
img.wp-smiley {
	max-height:1em;
	margin:0;
	padding:0;
	border:none;
}
img.no-border {
	box-shadow:none!important;
	border:none!important;
}
img.alignleft,img.alignright {
	display:inline;
}
a img {
	max-width:100%;
	height:auto;
	border:none;
}
a img.alignnone {
	display:block;
}
.wp-caption {
	max-width:100%;
}
.wp-caption-text,
.wp-caption-dd{
	font: inherit;
	text-align: left;
	margin-bottom: 0;
	padding: 0;
}
.wp-audio-shortcode {
	max-width:100%;
	clear: both;
}
.wp-video-shortcode {
	max-width:100%;
	clear: both;
}
.mejs-container{
	max-width: 100%;
}
iframe{
	max-width: 100%;
}
.html5-captions .wp-caption,.wp-caption{
	padding: 10px;
	padding: 1rem;
	background: #fff;
	border: 1px solid #ccc;
}

/* === #04 - HTML & BODY === */
html {
	font-size:62.5%;
}
body {
	font-family: 'Open Sans','Trebuchet MS', sans-serif;
	font-size:17px;
	font-size:1.7rem;
	line-height:1.7em;
	color: #444;
}
	/* Editor Style */
	body#tinymce {
		font-family: 'Open Sans','Trebuchet MS', sans-serif;
		background: #fff;
		color: #444;
		margin: 0 auto;
		padding: 20px 20px 0;
		border: none;
		max-width: 100%;
	}
#container{
	word-wrap: break-word;
	word-break: normal;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
/* Admin Bar Fix */
#wpadminbar input{
	display: inline;
	background: none;
}


/* === #05 - UTILLITY === */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* JS */
.js .hide-if-js,
.no-js .hide-if-no-js{
	display: none;
}


/* === #06 - GALLERY === */
body#tinymce  .wpview-wrap .toolbar div,
body#tinymce  #wp-image-toolbar div{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
body#tinymce .gallery{
	padding: 10px;
	margin-bottom: 0;
}
.gallery {
	font-size: 0;
	display:block;
	clear:both;
	margin: 0;
	overflow:hidden;
	width: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
	.gallery .gallery-item {
		position: relative;
		margin:0;
		padding: 1px;
		border:none;
		float:none;
		overflow:hidden;
		display: inline-block;
		vertical-align: top;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
		.gallery .gallery-item .gallery-icon img {
			width:100%;
			height:auto;
			margin:0 auto;
			display: block;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.gallery .gallery-item .gallery-icon a img:hover,
		.gallery .gallery-item .gallery-icon a img:focus {
			opacity: 0.8;
		}
		.gallery .gallery-item .gallery-caption {
			font-size: 13px;
			display: block;
			position: absolute;
			bottom: 0;
			height: 3em;
			line-height: 2em;
			width: 100%;
			padding: 0.5em;
			margin: 0;
			text-align: center;
			vertical-align: top;
			background: rgba(255, 255, 255, 0.8);
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
.gallery-columns-0 .gallery-item,
.gallery-columns-1 .gallery-item   { width:100%;  }
.gallery-columns-2 .gallery-item   { width:50%;   }
.gallery-columns-3 .gallery-item   { width:33.33%;}
.gallery-columns-4 .gallery-item   { width:25%;   }
.gallery-columns-5 .gallery-item   { width:20%;   }
.gallery-columns-6 .gallery-item   { width:16.66%;}
.gallery-columns-7 .gallery-item   { width:14.28%;}
.gallery-columns-8 .gallery-item   { width:12.5%; }
.gallery-columns-9 .gallery-item   { width:11.11%;}
.gallery-columns-10 .gallery-item { width:10%;   }
.gallery-columns-11 .gallery-item { width:9.09%; }
.gallery-columns-12 .gallery-item { width:8.33%; }
.gallery-columns-13 .gallery-item { width:7.69%; }
.gallery-columns-14 .gallery-item { width:7.14%; }
.gallery-columns-15 .gallery-item { width:6.66%; }
.gallery-columns-16 .gallery-item { width:6.25%; }
.gallery-columns-17 .gallery-item { width:5.88%; }
.gallery-columns-18 .gallery-item { width:5.55%; }
.gallery-columns-19 .gallery-item { width:5.26%; }
.gallery-columns-20 .gallery-item { width:5%;    }
.gallery-columns-21 .gallery-item { width:4.76%; }
.gallery-columns-22 .gallery-item { width:4.54%; }
.gallery-columns-23 .gallery-item { width:4.34%; }
.gallery-columns-24 .gallery-item { width:4.16%; }
.gallery-columns-25 .gallery-item { width:4%;    }
.gallery-columns-26 .gallery-item { width:3.84%; }
.gallery-columns-27 .gallery-item { width:3.7%;  }
.gallery-columns-28 .gallery-item { width:3.57%; }
.gallery-columns-29 .gallery-item { width:3.44%; }
.gallery-columns-30 .gallery-item { width:3.33%; }


/* === #07 - 20px RESET === */
hr,h1,h2,h3,h4,h5,h6,figure,p,ul,ol,dl,address,pre,object,fieldset,table,table caption,hr,
.block,.wp-audio-shortcode,.wp-video-shortcode,.gallery,.html5-captions .wp-caption,.wp-caption{
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.alignleft,.html5-captions .wp-caption.alignleft,.wp-caption.alignleft,.left {
	margin: 0 20px 20px 0;
	margin: 0 2rem 2rem 0;
}
.alignright,.html5-captions .wp-caption.alignright,.wp-caption.alignright,.right {
	margin: 0 0 20px 20px;
	margin: 0 0 2rem 2rem;
}
.aligncenter,.html5-captions .wp-caption.aligncenter,.wp-caption.aligncenter,.center {
	margin: 0 auto 20px;
	margin: 0 auto 2rem;
}

/* === #08 - WP EDITOR (front-end) === */
.wp-editor-wrap{
	margin-bottom: 20px;
	margin-bottom: 2rem;
	max-width: 100%;
}
.wp-editor-wrap button:hover,
.wp-editor-wrap button:focus{
	border: none;
}
.wp-editor-container{
	background: #fff;
	border: 1px solid #e5e5e5
}
.wp-switch-editor,
.wp-core-ui .button-group.button-small .button,
.wp-core-ui .button.button-small{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.wp-editor-container textarea.wp-editor-area:active,
.wp-editor-container textarea.wp-editor-area:focus{
	border: none;
}
.howto {
	color: #666;
	display: block;
	font-style: italic;
}
#wp-link{
	font-size: 13px;
	font-size: 1.3rem;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
#wp-link input[type="text"],
#wp-link input[type="checkbox"]{
	display: inline;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* === #09 - ACCESSIBILITY === */
.screen-reader-text,
.assistive-text{
	position: absolute;
	left: -9999em;
	top: -9999em;
}
.skip-link{
	margin: 0 auto;
	text-align: center;
}
.skip-link .screen-reader-text:focus{
	position: inherit;
	left: auto;
	top: auto;
	padding: 10px 20px;
	padding: 1rem 2rem;
	border: 1px solid red;
	background: #fff;
}

