/**
 * Media Queries CSS
******************************************/

/*****************************************
 * TABLE OF CONTENTS:
 * 
 * #00 - VIEWPORT FIX
 * #01 - LAYOUTS       (max-width: 1100px)
 *                     (max-width:  750px)
 *                     (max-width:  550px)
 * #02 - MENU          (max-width:  700px)
 * #03 - ENTRY         (max-width:  450px)
 * #04 - LOOP-NAV      (max-width:  700px)
 * #05 - COMMENTS      (max-width:  700px)
 * 
 *****************************************/

 /* Make Responsive */
#container{
	max-width: 100%;
	min-width: 100%;
}
 
/* === #00 - VIEWPORT FIX === 
 * Does the same thing as <meta name="viewport" content="width=device-width">
 * for Windows 8 "Snapped" views in IE10+
 * @link http://core.trac.wordpress.org/ticket/25888
 * @link http://blog.teamtreehouse.com/thinking-ahead-css-device-adaptation-with-viewport
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


/* === #01 - LAYOUTS === */

/* = Force to 2 columns = */
@media screen and (max-width: 1100px){
	.plural.col-active #content .content-entry-wrap > .entry{
		width: 50%;
	}
}
/* = Force to 1 columns = */
@media screen and (max-width: 750px){
	.plural.col-active #content .content-entry-wrap > .entry{
		width: 100%;
	}
	.singular .entry .entry-wrap > .wrap{
		padding: 40px;
		padding: 4rem;
	}
}
/* Padding + Margin */
@media screen and (max-width: 550px){
	#site-title{
		padding: 30px 20px 20px;
		padding: 3rem 2rem 2rem;
	}
	#site-description{
		padding: 5px 20px;
		padding: 0.5rem 2rem;
	}
	#main{
		padding: 20px 0 20px 20px;
		padding: 2rem 0 2rem 2rem;
	}
	.loop-meta{
		margin: 0 20px 20px 0;
		margin: 0 2rem 2rem 0;
	}
	.content-entry-wrap{
		padding-right: 20px;
		padding-right: 2rem;
	}
	.plural.col-active .content-entry-wrap > .entry{
		padding: 0 20px 20px 0;
		padding: 0 2rem 2rem 0;
	}
	.loop-pagination .page-numbers{
		padding: 5px 10px;
		padding: 0.5rem 1rem;
	}
	.entry .entry-wrap > .wrap,
	.singular .entry .entry-wrap > .wrap{
		padding: 20px;
		padding: 2rem;
	}
	.singular .entry-title{
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.more-link{
		margin-left: -32px;
	}
	.loop-nav{
		margin: 20px auto;
		margin: 2rem auto;
	}
	/* Comments */
	#comments-template{
		padding-bottom: 20px;
		padding-bottom: 2rem;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
}


/* === #02 - MENU ===  */
@media screen and (max-width: 700px){

	/* Menu Primary 1st Level */
	#menu-primary li a{
		background: #D35400;
	}
	/* Fix */
	.menu-dropdown .sub-menu li:hover > .sub-menu,
	.menu-dropdown .sub-menu li.focus > .sub-menu{
		top: 0;
		margin-left: 0;
		background: #D35400;
	}
	.menu-dropdown .sub-menu{
		box-shadow: none;
	}

	/* === Menu Toggle: no-js === */
	#menu-primary .menu-toggle a{
		color: #fff;
		font-family: 'Open Sans','Trebuchet MS', sans-serif;
	}
	#menu-primary:target .menu-toggle{
		border-bottom: 1px solid #444;
		border-bottom-color: rgba(0,0,0,0.1);
	}
	#menu-primary:target .menu-items{
		display: block;
	}
	#menu-primary:target .menu-toggle-open{
		display: none;
	}
	#menu-primary:target .menu-toggle-close{
		display: inline;
	}

	/* css/base/menus-media-queries.min.css */
	.menu-toggle{font-weight:700;line-height:1.8em;padding:.9rem;width:100%;height:47px;height:4.7rem}.menu-toggle .screen-reader-text{position:inherit;left:auto;top:auto}.menu-toggle a:focus,.menu-toggle a:hover{opacity:.8}.menu-toggle a:before{content:"\f203";font-family:dashicons;font-weight:400;font-size:20px;font-size:2rem;vertical-align:top;margin-right:5px;-webkit-font-smoothing:antialiased}.menu-toggle a.menu-toggle-close:before,.menu-toggle-active .menu-toggle a:before{content:"\f158"}.mobile-menu-active .menu-dropdown li:hover>.sub-menu{left:auto}.menu-toggle{display:block}.menu-items,.menu-toggle .menu-toggle-close{display:none}.menu-toggle-active.menu-container{border-bottom:0}.menu-toggle-active .menu-items{display:block}.menu-toggle-active .menu-toggle{border-bottom:1px solid #ccc}.menu-toggle-active>.wrap{display:block}.menu-dropdown:after{content:".";display:block;height:0;clear:both;visibility:hidden}.menu-dropdown>.wrap{display:block;margin-right:0;width:100%}.menu-dropdown ul li.menu-item-has-children>a:before,.menu-dropdown ul li.menu-item-open-children>a:before{content:"";position:inherit;right:auto}.menu-dropdown li{display:block;width:100%}.menu-dropdown .sub-menu{width:100%;border:none}.menu-dropdown .sub-menu li a,.menu-dropdown li a{width:100%;border:none;border-bottom:1px solid #ccc;background:#eee}.menu-dropdown .sub-menu li a{background:0 0}.menu-dropdown .sub-menu,.menu-dropdown .sub-menu li.focus>.sub-menu,.menu-dropdown .sub-menu li:focus>.sub-menu,.menu-dropdown .sub-menu li:hover>.sub-menu,.menu-dropdown li.focus>.sub-menu,.menu-dropdown li:focus>.sub-menu,.menu-dropdown li:hover>.sub-menu{opacity:1;left:auto;top:auto;position:inherit}.menu-dropdown .sub-menu li a:before,.menu-dropdown .sub-menu li.menu-item-has-children>a:before,.menu-dropdown .sub-menu li.menu-item-open-children>a:before{content:"\f460 ";font-family:dashicons;vertical-align:top;padding:0;margin-right:.5rem;float:none;position:inherit;right:auto;-webkit-font-smoothing:antialiased}.menu-dropdown .sub-menu .sub-menu li a:before{content:"\f460 \f460 ";font-family:dashicons;vertical-align:top;padding:0;margin-right:.5rem;float:none;-webkit-font-smoothing:antialiased}.menu-dropdown .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 "}

	.menu-toggle-active .menu-toggle{
		border-bottom-color: rgba(0,0,0,0.1);
	}
	.menu-dropdown li a,
	.menu-dropdown .sub-menu,
	.menu-dropdown .sub-menu li a{
		border-bottom-color: rgba(0,0,0,0.1);
		background:#eee;
	}

	#menu-primary li a:hover,
	#menu-primary li a:focus{
		background: #E67E22;
		color: #fff;
	}

}


/* === #03 - ENTRY === */
@media screen and (max-width: 450px) {
	.singular .entry-byline .entry-author{
		display: block;
	}
	.singular .entry-content .alignleft,
	.singular .entry-content .alignright{
		max-width: 50%;
	}
}


/* === #04 - LOOP-NAV === */
@media screen and (max-width: 700px) {
	.loop-nav .prev{
		width: 100%;
	}
	.loop-nav .next{
		width: 100%;
		padding-right: 0;
		padding-left: 30px;
		padding-left: 3rem;
		text-align: left;
	}
	.loop-nav .next a:after{
		right: auto;
		left: 0;
	}
}


/* === #05 - COMMENTS === */
@media screen and (max-width: 700px) {
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
	}
}
